extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")

            .col-md-7 
                h1= pagina
                blockquote  ipsum dolor sit, amet consectetur adipisicing elit. Ratione nemo cupiditate at tempore quae veritatis eum consectetur nihil necessitatibus? Sed dolorem exercitationem soluta aliquam ex explicabo dolorum quos aliquid voluptatem.

                p ipsum dolor sit, amet consectetur adipisicing elit. Ratione nemo cupiditate at tempore quae veritatis eum consectetur nihil necessitatibus? Sed dolorem exercitationem soluta aliquam ex explicabo dolorum quos aliquid voluptatem.ipsum dolor 

                p ipsum dolor sit, amet consectetur adipisicing elit. Ratione nemo cupiditate at tempore quae veritatis eum consectetur nihil necessitatibus? Sed dolorem exercitationem soluta aliquam ex explicabo dolorum quos aliquid voluptatem.
    .listado-iconos 
        .container.p-5.mt-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ipsum dolor sit, amet consectetur adipisicing elit. Ratione nemo cupiditate at tempore quae veritatis eum consectetur nihil necessitatibus? 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p ipsum dolor sit, amet consectetur adipisicing elit. Ratione nemo cupiditate at tempore quae veritatis eum consectetur nihil necessitatibus? 
                .col-md-4
                    img(src="img/icono_precio.svg", alt="Icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p ipsum dolor sit, amet consectetur adipisicing elit. Ratione nemo cupiditate at tempore quae veritatis eum consectetur nihil necessitatibus? 
                    


